* {
  margin: 0;
  padding: 0;
}

.background{
	background-image:url('images/grad.jpg');
	background-attachment: fixed;
	background-size: cover;
	/* background-height: 50%; */
	background-repeat: no-repeat;
}

.credentialsInput {
	width: 98%;
}

.notDisplay {
	display: none;
}

.noFlex {
	display: block;
}

.logo{
	color: white;
	font-family: 'Lily Script One', cursive;
	font-size: 250%;
	margin-left: 0.1em;
}
.username{
	float: left;
	font-family: 'Brawler', serif;
	color: white;
	margin-top: 1%;
	margin-left:3%;
	font-size: 20pt;
	
}

.userMenuItem {
	font-family: 'Brawler', serif;
	border: 5px solid #ffffff;
	border-radius: 10px;
	color: white;
	font-size: 1.5em;
	width: 9%;
	height: 1%;
	text-align: center;
	margin-left: 30px;
}

.userMenuItem:hover{
	cursor: pointer;
}

.userMenu {
	margin-top: 5%;
}

.logout {
	margin-top: 1%;
}

.findPost{
	font-family: 'Brawler', serif;
	color: white;
	font-size: 170%;
	font-weight: 900;
	width: 10%;
	height: 1%;
	text-align: center;
	margin-left: 32px;
	margin-top: 50px;
}
.Sfield{
	background-color: white;
	display: flex; 
	flex-direction: column;
	border: 0px;
	width:10%;
	border-radius: 5px;
	margin-left: 30px;
	margin-top: 0px;
}
.Sname{
	font-family: 'Brawler', serif;
	color: #c8cbce;
	opacity: 1;
}
.Stag{
	font-family: 'Brawler', serif;
	color: #c8cbce;
	opacity: 1;
}
.Sdata{
	font-family: 'Brawler', serif;
	color: #c8cbce;
	opacity: 1;
}

.photoLinkEditor {
	text-align: left;
}

input:focus {
  color: #535354;
}
.button{
	background-color: #90D469;
	cursor:pointer;
	border: 0px;
	height: 25px;
	width: 70px;
	border-radius: 3px;
	margin-left: 70px;
	margin-top: 15px;
	font-family: 'Brawler', serif;
	color: white;
	font-weight: 900;
	text-align: center;
}



#loadMore {
	background-color:#FFDDB2;
	padding: 0.5em;
	border-radius: 0.5em;
	font-size: 20pt;
	cursor: pointer;
} 

.content {
  flex: 1 0 auto;
}

.image{
	height: 400px;
	width: 400px;

}

.allFooter{
	font-family: 'Brawler', serif;
	color: white;
}
.div4footer{
	flex: 0 0 auto;
	margin-top: 13%;
	margin-right: 2%;
	margin-bottom:1%;
}
#content{
	margin-top: -360px;
}
.block{
	padding: 10px 0;
	width:500px;
	height: auto;
	background-color:#FFDDB2;
	margin-bottom:2%;
}

.block > *{
	padding: 0 12%;
}

.postHeader {
	font-family: 'Brawler', serif;
	font-weight: 900;
	font-size: 20pt;
	display: flex;
	justify-content: space-between;
	/* padding: 0 12%; */
}

.nickname {
	padding-bottom: 1.5%;
}

.posted {
	padding-top: 1.5%;
}

.hide {
	visibility: hidden;
}

.belowPhoto {
	display: flex;
	justify-content: space-between
}

.belowPhotoEditor {
	display: block;
	text-align: left;
}

.like {

}

.like:hover, .editIcon:hover, .removeIcon:hover{
	color: red;
	cursor: pointer;
}


.count{
	font-family: 'Brawler', serif;
	font-weight: 900;
	font-size: 21pt;
}
.comment {
	padding-top: 2%;
	font-family: 'Brawler', serif;
	font-size: 16pt;
}
